$lightgrey: #f6f6f6;
$darkgrey: #b5b5b5;
$zero: 0;
$whyte: #fff;
$blueline: 1px solid #4a4ae6;
$mainblue: #4a4ae6;

body {
  margin: $zero;
  padding: $zero;
  font-family: Arial, sans-serif, sans-serif; /*  'Franklin Gothic Medium', 'Arial Narrow',  */
  font-size: 16px;
  background-color: $lightgrey;
  overflow-x: hidden;
}

input:focus {
  outline: $blueline;
}

/* colors */

.white {
  background-color: $whyte;
}

/* cards w box shadow */

.general-card {
  transition: transform 500ms;
  padding: 20px;
  margin: 20px auto;
}

.shadow {
  box-shadow: 0px 0px 10px $darkgrey;
  -webkit-box-shadow: 0px 0px 10px $darkgrey;
  -moz-box-shadow: 0px 0px 10px $darkgrey;  
}

.deep-shadow-card {
  padding: 20px;
  box-shadow: 0px 0px 20px $darkgrey;
}

/* general flex alignment classes */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* buttons */

.button-main {
  padding: 12px 15px;
  color: white;
  border: none;
  background-color: $mainblue;
  font-size: 1.2em;
  margin: 10px;
  cursor: pointer;
}

/* links */

.link {
  color: #4a4ae6;
  padding-bottom: 2px;
  border-bottom: $blueline;
  cursor: pointer;
  margin: 10px 0;
}

.title {
  font-size: 1.5em;
  margin: 10px 0;
}
