$whyte: #fff;
$black: #000;
$square: 60px;
$hunnid: 100%;

.nav-container {
  height: 50px;
  width: $hunnid;
  box-shadow: 5px 0px 15px #4a4ae6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: $whyte;
  position: absolute;
  top: 0;
}

.nav-logo-container {
  height: $square;
  width: $square;
  margin: 0 15px;
}

.nav-logo-container img {
  height: $hunnid;
  width: $hunnid;
}

.nav-link {
  color: $black;
  font-size: 1.1em;
  border-bottom: 1px solid transparent;
  padding: 5px;
  margin: 0 15px;
  transition: padding 300ms;
}

.nav-link:hover {
  border-bottom: 1px solid $black;
  cursor: pointer;
}
